<div class="mod-setup">
  <div class="mod-block-title">Setup View</div>
  <div class="mod-dropdown">
    <div>Trigger Selection</div>
    <!-- There are two dropdowns to show multi-menu support -->

    <div class="center">
      <div class="container">
        <div class="wrapper-dropdown" id="dropdown">
          <span class="selected-display" id="destination">Trigger Type</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="14"
            height="9"
            viewBox="0 0 14 9"
            fill="none"
            class="dropdown-arrow"
          >
            <path d="M0.5 1.25L7 7.75L13.5 1.25" stroke="black" />
          </svg>
          <ul class="dropdown">
            <li class="item">Option 1</li>
            <li class="item">Option 2</li>
            <li class="item">Option 3</li>
            <li class="item">Option 4</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="mod-setup__section">
    <div class="mod-setup__title">Auto</div>

    <div class="mod-setup__list">
      <div>Termination</div>
      <div>
        <div class="mod-setup__item">
          <span>If</span>
          <span class="mod-setup__value border-green">Anything</span>
        </div>
        <div class="mod-setup__item">
          <span>Then</span>
          <span class="mod-setup__value border-red">Trigger</span>
        </div>
      </div>
    </div>
  </div>
</div>
