/* .ag-theme-alpine {
  --ag-header-background-color: #800080; 
  --ag-header-foreground-color: white;  
  --ag-row-hover-color: #e2dfed;         
  --ag-border-color: #000000;            
}
.grid-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.grid-header {

  font-size: 1.2em;
  color: #0f0d0f;
  background-color: #fefefe;
  text-align: left;
  padding: 10px;
} */

/* --ag-odd-row-background-color: #faf8fa; 
--ag-even-row-background-color: #fde7fd;  */

