<!-- <div *ngIf="sysData" class="summary-container">
    <h3>Summary of Sys Configuration</h3>
    <p><strong>Frequency (KHz):</strong> {{ sysData.freq }}</p>
    <p><strong>High Period (ns):</strong> {{ sysData.highTime }}</p>
    <p><strong>Low Period (ns):</strong> {{ sysData.lowTime }}</p>
    <p><strong>InterMessage Gap:</strong> {{ sysData.tIMG }}</p>
    <p><strong>InterMessage Gap Register:</strong> {{ sysData.resImg }}</p>
    <p><strong>Clk-Data Delay (ns):</strong> {{ sysData.tCO }}</p>
  </div>
   -->
   <button (click)="OnbuttonClick()">Buffer Reset</button>
  <button (click)="OnbuttonClick1()">Send</button>

