<!-- <form *ngIf="selectedTab === 'Loop'" class="exerciser-form" >
    <div class="period-container">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Frequency (KHz)</mat-label>
          <input matInput placeholder="Enter frequency">
        </mat-form-field>
    </div>
        <div class="period-container">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>LoopCount</mat-label>
            <input matInput value="" placeholder="Enter loop count">
          </mat-form-field>
        </div>
        <div class="period-container">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Factor</mat-label>
            <input matInput value="" placeholder="Enter Factor">
          </mat-form-field>
      </div>
        
          <div class="button-container">
            <button mat-raised-button color="primary">Add</button>
            </div>
</form> -->