<!-- <form *ngIf="selectedTab === 'BufferAccess'" class="exerciser-form" >
    <div class="period-container">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Node ID</mat-label>
          <input matInput placeholder="Enter Node ID">
        </mat-form-field>
    </div>
        <div class="period-container">
          <mat-form-field appearance="outline" class="form-field">
        
            <mat-select [(value)]="broadcastCCC">
                <mat-option value="ENEC">Private</mat-option> 
                <mat-option value="ENEC">DDR</mat-option> 
                <mat-option>TSP</mat-option>
       
             </mat-select>
          </mat-form-field>
        </div>
        <div class="period-container">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Factor</mat-label>
            <input matInput value="" placeholder="Enter Factor">
          </mat-form-field>
      </div>
       
          <div class="button-container">
            <button mat-raised-button color="primary">Add</button>
            </div>
</form> -->